header {
  display: flex;
  justify-content: center;
  h1 {
    font-family: Helvetica, sans-serif;
    display: inline-block;
    margin: 2rem;
  }

  #play-pause-button {
    font-size: 2rem;
    height: 3rem;
    margin-top: 1.3rem;
  }
}

article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  #input-graph {
    vertical-align: top;

    #text-input {
      width: 100%;
      font-family: Helvetica, sans-serif;
      font-size: 1.5rem;
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 5px 0;
      margin: 0;
    }

    #text-progress {
      display: none;
      height: 4px;
      background-color: blue;
    }

    #match-result {
      border-spacing: 0 3px;

      .hidden-char {
        font-family: Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: normal;
        visibility: hidden;
        padding: 0;
        margin: 0;
      }

      .found-char {
        height: 6px;
      }

      .found-char-last {
        background-clip: content-box;
        padding: 0 1px 0 0;
      }
    }

  }

  #words {
    margin-left: 30px;
    vertical-align: top;
    form {
      display: flex;
      height: 30px;

      #new-word-input {
        flex-grow: 1;
      }

      #new-word-submit {
        font-size: 18px;
      }
    }
  }

  .word-item-text {
    display: inline-block;
    padding: 3px;
    color: white;
    width: 200px;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
  }
}

footer {
  display: flex;
  justify-content: center;
}
