header {
  h1 {
    font-family: Helvetica, sans-serif;
    display: inline-block;
    margin: 2rem;
  }

  #play-pause-button {
    font-size: 2rem;
  }
}

article {
  #input-graph {
    display: inline-block;
    vertical-align: top;

    #text-input {
      width: 100%;
      font-family: Helvetica, sans-serif;
      font-size: 1.5rem;
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 5px 0;
      margin: 0;
    }

    #match-result {
      border-spacing: 0 3px;

      .hidden-char {
        font-family: Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: normal;
        visibility: hidden;
        padding: 0;
        margin: 0;
      }

      .found-char {
        height: 6px;
      }
    }

  }

  #words {
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
  }

  .word-item-text {
    display: inline-block;
    padding: 3px;
    color: white;
    width: 200px;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;

  }
}
